# TIME SERIES FORECASTING AND SENTIMENT ANALYSIS OF BIG DATA PROOCESSED WITH MYSQL VS HBASE, CASSANDRA, MONGODB

# Dataset
The dataste is a large dataset gleaned from the twitter API that is called ProjectTweets.csv.

This dataset contains 1,600,000 tweets extracted using the twitter api. 


Content
It contains the following 5 fields:
- ids: The id of the tweet (eg. 4587)
- date: the date of the tweet (eg. Sat May 16 23:58:44 UTC 2009)
- flag: The query (eg. lyx). If there is no query, then this value is NO_QUERY.
- user: the user that tweeted (eg. bobthebuilder)
- text: the text of the tweet (eg. Lyx is cool)

# Storing Data in a SQL vs Non SQL Database
- MySQL
- Hbase
- Cassandra
- MongoDB

# MySQL via Pyspark

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [ ]:
# Initialize SparkSession
spark = SparkSession.builder.appName("Load CSV to MySQL").getOrCreate()

In [ ]:
# Read CSV file into DataFrame
csv_path = "file:///home/hduser/ProjectTweets/ProjectTweets.csv"
df = spark.read.csv(csv_path, header=False, inferSchema=True)

In [ ]:
df.printSchema()

In [ ]:
df = df.withColumnRenamed("_c0", "ID").withColumnRenamed("_c1", "ID2").withColumnRenamed("_c2", "date").withColumnRenamed("_c3", "flag").withColumnRenamed("_c4", "user").withColumnRenamed("_c5", "text")

In [ ]:
df.printSchema()

In [ ]:
# View the Spark DataFrame
df.show(5)

In [ ]:
display(df)

# Storing and Processing Data in MySQL using pyspark

In [ ]:
# Define JDBC connection properties
mysql_properties = {
    "driver": "com.mysql.jdbc.Driver",
    "url": "jdbc:mysql://localhost:3306/ProjectTweets",
    "user": "hduser",
    "password": "hadoop"
}

# Define MySQL table name
mysql_table_name = "ProjectTweets"

# Read CSV file into DataFrame
csv_path = "file:///home/hduser/ProjectTweets.csv"
df = sc.read.csv(csv_path, header=False, inferSchema=True)

# Write DataFrame to MySQL table
df.write.jdbc(url=mysql_properties["url"],
              table=mysql_table_name,
              mode="overwrite",  # Specify the write mode
              properties=mysql_properties)

# Stop SparkSession
spark.stop()